* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    background: rgb(201, 236, 255);
    padding: 4rem;
    justify-content: center;
}

.date-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
    max-width: 350px;
}

#date {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  background: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#date:hover {
    color: rgb(0, 166, 255);
    transition: 1.5s ease;
}

.main {
    background: white;
    width: 100%;
    max-width: 850px;
    margin: auto;
    border-radius: 20px;
    border: 4px solid white;
    padding: 4rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}

.title-and-clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

#title {
    background: rgb(255, 255, 255);
    font-size: larger;
    padding: 2rem;
}

#clock {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(56, 49, 40);
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

#clock span {
    position: absolute;
    color: rgb(195, 195, 195);
    transform: rotate(calc(30deg*var(--i)));
    inset: 2px;
    text-align: center;
}

#clock span b {
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: 1.3rem;
}

#clock::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    z-index: 2;
}

.hands {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
}

.hands i {
    position: absolute;
    background: var(--clr);
    width: 5px;
    height: var(--h);
    border-radius: 20px;
}

.input-box {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#input {
    padding: 20px 10px;
    width: 567px;
    border-radius: 25px;
    border: 4px solid rgba(0,0,0,.1);
}

#input:hover {
    border: 4px solid rgba(0,0,0,.4);
    transition: 0.3s ease;
}

#input:hover::placeholder {
    background: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    transition: 4s ease;
}

#add-button {
    padding: 20px 10px;
    width: 100px;
    margin-left: 10px;
    border-radius: 25px;
    border: 4px solid rgb(46, 81, 255);
    background: rgb(46, 81, 255);
    color: white;
    font-weight: bolder;
}

#add-button:hover {
    background: white;
    color: blue;
    transform: scale(1.1);
    transition: 0.3s ease;
}

ul {
    background: rgb(245, 245, 245);
}

li {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-right: 20px;
    border: 1px solid rgba(0,0,0,.1);
}

li::before {
    content: "◆";
    position: absolute;
    left: -25px;
}

li delete-button {
    background: rgb(255, 0, 0);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 4px solid rgb(255, 255, 255);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

li delete-button:hover {
    transform: scale(1.15);
    background: white;
    border: 4px solid red;
    color: red;
    transition: 0.3s ease;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

#secret-message {
    color: rgb(201, 236, 255);
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.main:hover + #secret-message {
    color: rgb(142, 179, 199);
    transition: 0.3s ease;
}