* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(255, 225, 186);
    color: rgb(0, 0, 0);
    justify-content: center;
    padding: 4rem 4rem;
    display: flex;
}

.container {
    background: white;
    padding: 4rem 8rem;
    border-radius: 20px;
    border: 4px solid rgb(121, 77, 15);
    box-shadow: 0 20px 30px rgba(0,0,0,.5);
}

.container h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.container p {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.container p:hover {
    color: rgb(227, 227, 227);
    transition: 1.5s ease;
}

.input-container{
    background: rgb(252, 238, 221);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 30px;
}

#task-input {
    border: .5px solid black; 
    border-radius: 5px;
    padding: 0.75rem 2rem;
    margin-right: 1rem;
    width: 300px;
    font-weight: bold;
    text-align: left; 
}

#task-input:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    transition: .3s ease;
}

#add-button {
    background: rgb(52, 38, 255);
    color: white;
    padding: .75rem 1rem;
    padding-left: 15px;
}

#add-button:hover {
    transform: scale(1.15);
    border: 2px solid rgb(52, 38, 255);
    background:white;
    color: rgb(52, 38, 255);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    transition: 0.3s ease;
}

#task-list {
    text-align: left;
}

li {
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    text-align: left;
    margin-bottom: 10px;
}

li::before {
    content: "▶";
    position: absolute;
    left: -2em;
    top: 10px
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

li button {
    margin-bottom: 5px;
    border: 2px solid white;
    background: rgb(255, 48, 48);
    color: white;
    padding: 10px 22.5px;
    font-weight: bolder;
    cursor: pointer;
}

li button:hover {
    border: 2px solid rgb(255, 48, 48);
    background: white;
    color: rgb(255, 48, 48);
    transition: 0.15s ease;
}