* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(228, 198, 174);
    display: flex;
    justify-content: center;
    padding: 2rem
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 20px rgb(94, 44, 9);
}

.container h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.input-area {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#task-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#task-input:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transition: 1.5s ease;
}

#add-button {
    padding: 0.5rem;
    background: #007bff;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

#add-button:hover {
    outline: 5px solid #007bff;
    background: white;
    color: #007bff;
    transition: 0.3s ease;
}

ul {
    list-style: disc;
    padding-left: 1.5rem;
}

li {
    position: relative;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: black;
    font-size: 1.5rem;
    line-height: 1;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

li button {
    background: rgb(255, 65, 65);
    color: white;
    margin-left: .8rem;
    margin-top: .5rem;
    padding: .08rem .65rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

li button:hover {
    border: 2px solid rgb(255, 65, 65);
    background: white;
    color: rgb(255, 65, 65);;
    transition: .3s ease;
}
